@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;

}


body{
  font-family: 'Open Sans', sans-serif;
  background-color: #ebe9e9;
}

.menu{
  list-style: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.menu li{
  margin-top: 10px;
}

.menu li a{
  text-decoration: none;
  color: rgb(25, 25, 25);
  font-size: 22px;
}

.active{
  color: red !important;
  font-weight: bold !important;
}